<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Glance - PhotoBar WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>PhotoBar WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>PhotoBar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PhotoBarWidget1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>PhotoBarWidget2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>PhotoBarWidget3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>PhotoBarWidget4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>PhotoBarWidget5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>PhotoBarWidget6.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>PhotoBarWidget7.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>PhotoBarWidget8.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>PhotoBarWidget9.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>PhotoBarWidgetCustom.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>PhotoBarWidgetCustom2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>PhotoBarWidgetCustom3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>PhotoBarWidgetLayout1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>PhotoBarWidgetLayout2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>PhotoBarWidgetLayout3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>PhotoBarWidgetLayout4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>PhotoBarWidgetLayout5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>PhotoBarWidgetLayout6.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>PhotoBarWidgetLayout7.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>PhotoBarWidgetLayout8.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>TestPhotoBar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DF01A06819DCBE8500B61DB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF24700519CB0C7800094AAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF24701E19CB0C7900094AAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF24703219CB0CA900094AAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF24716C19CB97D400094AAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF24718719CB97D400094AAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF5033F919CFA35B00F7AB36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF50341919D075F700F7AB36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF72C6D91A40EE8D008C9EBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF8C95BC1AB10CC800FB91D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF8ECD9B1A95DF8B0088DC20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF8ECDB01A95DFB60088DC20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF93466919CE21E6006B5C2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF93467F19CE2229006B5C2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF93469B19CE3889006B5C2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFE2076B19D4C33F008A492B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFE2078119D4C379008A492B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFE207A119D8A6C5008A492B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFE9FA7619DCC16900CE14CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFE9FA9519DD697A00CE14CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFE9FAB319DD6A1300CE14CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFE9FAD119DD6A6100CE14CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFE9FAEF19DD6AAE00CE14CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFE9FB0D19DD6B0000CE14CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFE9FB2B19DD6B6800CE14CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFE9FB4919DD6BB500CE14CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFE9FB6E19DD6E5400CE14CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFF199F219DC42BA000EAF51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
